@import "compass_twitter_bootstrap";

div.volume {
	width: 250px;
	height: 100px;
	background-color: #eeeeee;
	position: relative;
}

span.dot {
	width: 5px;
	height: 5px;
	display: block;
	background-color: #000000;
	position: absolute;
}

.progress {
    height: 100px;
}

.progress-line {
    width: 1px;
    background: red;
    height: 1000px;
    position: absolute;
}

.set {
    position: relative;
}
