<div class="set">

    <!--<div class="row">-->
        <!--<div class="span2">-->
            <!--Titles-->
        <!--</div>-->
        <!--<div class="span10">-->
            <!--<span class="progress-line" style="left: {{ position / (3 * 60 * 10) }}%"></span>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row" ng-repeat="sound in sounds">
        <div class="span2">
            <strong>{{ sound.title }}<strong><br/>
            <a class="btn btn-small" ng-hide="sound.muted" href ng-click="player.muteTrack(sound)"><i class="icon-volume-off"></i></a>
            <a class="btn btn-small" ng-show="sound.muted" href ng-click="player.unmuteTrack(sound)"><i class="icon-volume-up"></i></a>
        </div>
        <div class="progress span10">
            <div class="bar" style="width: {{ player.position / (3 * 60 * 10) }}%"></div>
        </div>
    </div>

    <a ng-hide="player.playState == 'playing'" class="btn btn-large" ng-click="player.playAll()"><i class="icon-play"></i></a>
    <a ng-show="player.playState == 'playing'" class="btn btn-large" ng-click="player.pauseAll()"><i class="icon-pause"></i></a>


    <p>
    <strong>{{ Math.floor(player.position / 1000) }}s</strong>
    </p>

</div>

